:root {
  --bg-color: #ffffff;
  --contrast-color: #fe9a9a;
  --contrast-color2: #7b9d8b;
  --grey-color: #606060;
  --main-text-color: /*#2d2829;*/#1f2521;
  --h1-font-size: calc(3vw + 1.1em);
  --small-gap: calc(5% - 50px);
  --medium-gap: calc(10% - 50px);
  --large-gap: calc(20% - 50px);
  --tiny-gap: 5px;
  --header-font-black: 'Playfair Display SC', 'Rockwell Std', 'Rockwell', serif;
  --header-font: 'Playfair Display', 'Garamond Premier Pro', Garamond, serif;
  --body-font: 'Oswald','Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    margin: 30px var(--large-gap);
    background-color: var(--bg-color);
    font-family: var(--body-font);
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

form {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input[type=button], input[type=submit], input[type=reset] {
    color: var(--main-text-color);
    padding: 16px 32px;
    text-decoration: none;
    font-family: var(--body-font);
    font-weight: normal;
    font-size: 1.2em;
    cursor: pointer;
}

textarea {
  width: calc(100% - 2px); /* Border is added after width for some reason, unlike other elements*/
  height: 15vh;
  margin: 0px;
  padding: 0px;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  align-items: flex-start;
  grid-row-gap: 30px;
}

.superparagraph {
  grid-column: 1 / span 6;
  grid-row: 3 / span 1;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.gallery {
  grid-column: 1 / span 6;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  grid-auto-flow: row dense;
  align-items: flex-start;
  grid-gap: var(--tiny-gap);
}

.gallery-thumbnail {
  grid-column: auto / span 6;
  width: 100%;
  height: 40vh;
}

.map {
  grid-column: auto / span 5;
  width: 100%;
  height: 100%;
}

.gallery-midsize {
  grid-column: auto / span 5;
  width: 100%;
  height: auto;
}

.gallery-full {
  grid-column: 1 / span 6;
  width: 100%;
  height: auto;
}

.cover {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery .superparagraph {  
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
}

.logo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
  justify-self: left;
}

.navbar {
  grid-column: 2 / span 5;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: var(--header-font-black);
  font-variant-caps: small-caps;
  font-size: 1.5em;
}

.navbar li, footer li {
  display: inline-block;
  padding: 10px;
}

.header {
  grid-column: 1 / span 6;
  grid-row: 2 / span 1;
  padding-bottom: 0px;
}

h1 {
  font-family: var(--header-font-black);
  font-variant-caps:small-caps;
  font-size: calc(1.7 * var(--h1-font-size));
  color: var(--main-text-color);
	line-height: 0.85em;
  word-spacing: 1vw;
  text-decoration: underline;
	text-decoration-color: var(--contrast-color);
	font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

h2 {
  font-size: calc(1.3 * var(--h1-font-size));
	color: var(--contrast-color);
  font-family: var(--header-font);
  margin-bottom: 20px;
  margin-top: 0px;
  padding-right: 10px;
  font-weight: normal;
}

h3 {
  font-size: calc(0.6 * var(--h1-font-size));
	color: var(--grey-color);
	text-align: left;
  font-family: var(--header-font);
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 2em;
  color: var(--main-text-color);
  text-align: justify;
	font-family: var(--body-font);
  margin-bottom: 0px;
  margin-top: 0px;
}

a {
    text-decoration: underline;
    text-decoration-color: var(--contrast-color);
    color: var(--grey-color);
}

h1 a {
  color: var(--main-text-color);
}

h2 a {
  color: var(--contrast-color);
  text-decoration: none;
}

p a {
	color: var(--main-text-color);
}

p a:hover {
  color: var(--contrast-color);
}

.subtitle {
  color: var(--contrast-color2);
  display: inline-block;
  font-size: 1em;
  font-family: var(--header-font);
}

img {
    image-orientation: from-image;
}

@media only screen and (min-width: 400px) {
  h1 {
    font-size: calc(2 * var(--h1-font-size));
  }
  
  .gallery-thumbnail {
    grid-column: auto / span 3;
  }
}

@media only screen and (min-width: 650px) {

  .superparagraph {
    grid-column: 4 / span 3;
    grid-row: 2 / span 1;
  }
  
  .gallery .superparagraph {
    grid-column: 4 / span 3;
    padding-right: 30px;
  }
  
  .navbar {
    grid-column: 2 / span 5;
  }
  
  .header {
    grid-column: 1 / span 4;
    padding-bottom: 50px;
  }
  
  h1 {
  font-size: var(--h1-font-size);
  }
  
  h2 {
  font-size: calc(0.8 * var(--h1-font-size));
  margin-bottom: 0px;
  }
}

@media only screen and (min-width: 800px) {
  
  .container {
    grid-template-columns: repeat(10, 1fr);
    grid-row-gap: 50px;
  }
  
  .superparagraph {
    grid-column: 7 / span 4;
    grid-row: 2 / span 1;
  }
  
  .gallery {
    grid-column: 1 / span 10;
    grid-template-columns: repeat(10, 1fr);
  }
  
  .gallery-full {
    grid-column: 5 / span 6;
  }
  
  .gallery .superparagraph {
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    padding-right: 30px;
  }
  
  .navbar {
    grid-column: 2 / span 9;
  }
}

@media only screen and (min-width: 1300px) {
  .superparagraph {
    grid-column: 5 / span 6;
  }
}
