:root {
  --bg-color: #ffffff;
  --contrast-color: #fe9a9a;
  --grey-color: #808080;
  --main-text-color: #2d2829;
}

body {
    margin: 60px auto;
    width: 60%;
    background-color: var(--bg-color);
    font-family:'Playfair Display SC', serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
/*    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: white;
}

.gallery-item {
  display: grid;
  justify-content: left;
  border-style: solid;
}

navbar ul, footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap; /* assumes you only want one row */
}

navbar ul li, footer ul li {
    display: inline-block;
}

h1 {
  font-size: 4em;
  color: var(--main-text-color);
	line-height: 0.85em;
  word-spacing: 7px;
  margin-top: 70px;
  text-decoration: underline;
	text-decoration-color: var(--contrast-color);
	font-weight: bold;
}

h2 {
  font-size: 2em;
	color: var(--contrast-color);
	font-weight: normal;
  display: inline-block;
  margin-bottom: 0px;
}

h3 {
  font-size: 1.5em;
	color: var(--main-text-color);
	text-align: left;
	font-weight: normal;
	font-family:'Taviraj', serif;
}

p {
  font-size: 1.1em;
  line-height: 2em;
  color: var(--main-text-color);
  text-align: justify;
	font-family:'Taviraj', 'Serif';
}

a {
    text-decoration: underline;
    color: var(--grey-color);
    text-decoration-color: var(--contrast-color);
}

p a {
	color: var(--main-text-color);
}

p a:hover {
  color: var(--contrast-color);
}

.subtitle {
  color: var(--grey-color);
  display: inline-block;
}

img {
    image-orientation: from-image;
    width: 100%;
    max-height: 100px;
    height: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10px 1fr;
  grid-template-rows: 1fr;
}

.item {

}

/* zombie css: content // img.inline // blockquote // footer // ul.posts

## content class: may be brought back
.content {
}

## .img.inline.left & .img.inline.full: can be used for inspiration - for now all images will be assumed to be in a gallery
.img-inline-left {
	padding: 15px;
	max-width: 40%;
    height: auto;
	display: block;
	float:left;
}

.img-inline-full {
	padding: 0px;
	max-width: 100%;
  height: auto;
	display: block;
}

## blockquote: unlikely to be useful
blockquote {
  font-size: 1em;
  margin: 0px;
  text-align: right;
  color: var(--grey-color);
}

## footer: don't have one so far
footer {
    border-top: 1px solid var(--grey-color);
    font-size: .8em;
}

## ul.posts: unique to crater.company
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;

ul.posts li {
    list-style: none;
}
*/
