---
layout: default
title: Pagina niet gevonden
gallerylimit: 6
---
<div class="superparagraph">
    <img src="/assets/site/404.svg" alt="404 Pagina niet gevonden" class="cover" style="width:200px;height:200px;">
</div>
<div class="gallery">
  <div class="superparagraph">
  	 <p>De gevraagde pagina werd niet gevonden. Sloop er een fout in het webadres?</p>
  </div>
  {% assign werk-samples = site.werken | sample:page.gallerylimit %}
  {% for werk in werk-samples %}
      <div class="gallery-thumbnail">
        {% include showmedia.html referent=werk %}
      </div>
  {% endfor %}
</div>