<form accept-charset="UTF-8" action="https://formspree.io/{{site.email}}" method="post">
  <p>{{include.legend}}</p>
  <label for="email">Uw emailadres</label>
  <input type="email" id="email" value="" autocomplete="on" required>
  <label for="message">Uw boodschap</label>
  <textarea id="message" autocomplete="off"></textarea>
  <input type="submit" name="submit" value="Verzenden">
  
  <input type="hidden" name="_subject" value="Betreft {{include.referent}}">
  <input type="text" name="_gotcha" style="display:none">
  <input type="hidden" name="_next" value="{{include.referent.url}}">
  <input type="hidden" name="_language" value="nl" />
</form>