<div class="subtitle">

{%- for checked-expositie in site.exposities -%}
  {%- if checked-expositie.title == include.expositie -%}
    {% assign expositie = checked-expositie %}
  {%- endif -%}
{%- endfor -%}

{% assign nowTimestamp = 'now' | date: '%s' %}

{% assign beginsec = expositie.begin | date: '%s' %}
{% assign secondentotbegin = beginsec | minus: nowTimestamp %}
{% assign dagentotbegin = secondentotbegin | divided_by: 3600 | divided_by: 24 %}

{% assign eindsec = expositie.einde | date: '%s' %}
{% assign secondentoteinde = eindsec | minus: nowTimestamp %}
{% assign dagentoteinde = secondentoteinde | divided_by: 3600 | divided_by: 24 %}

{%- if dagentotbegin > 10 -%}
  {%- if include.onexpopage == false -%}
    Binnenkort <a href="{{ expo.url }}"> in expo</a>! De expositie begint op {{ expositie.begin | date: "%d/%m/%Y" }}.
  {%- else -%}
    Van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
  {%- endif -%}

{%- elsif dagentotbegin <= 10 and dagentotbegin > 1 -%}
  {%- if include.onexpopage == false -%}
    <a href="{{ expo.url }}"> In expo</a> over {{ dagentotbegin }} dagen.</a>
  {%- else -%}
    De expositie begint over {{ dagentotbegin }} dagen. Ze loopt van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
  {%- endif -%}

{%- elsif dagentotbegin <= 1 and secondentotbegin > 0 -%}
  {%- if include.onexpopage == false -%}
    <a href="{{ expo.url }}"> Vanaf morgen in expo</a>.
  {%- else -%}
    Deze expositie begint morgen. Ze loopt van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
  {%- endif -%}

{%- elsif secondentotbegin <= 0 and dagentoteinde > 1 -%}
  {%- if include.onexpopage == false -%}
    Nog {{dagentoteinde}} <a href="{{ expo.url }}"> in expo</a>.
  {%- else -%}
    Loopt nog {{ dagentoteinde }} dagen tot {{ expositie.einde | date: "%d/%m/%Y" }}.
  {%- endif -%}

{%- elsif dagentoteinde <= 1 and secondentoteinde > 0 -%}
  {%- if include.onexpopage == false -%}
    Tot vandaag <a href="{{ expo.url }}"> in expo</a>.
  {%- else -%}
    Vandaag is de laatste dag van de expositie.
  {%- endif -%}

{%- elsif secondentoteinde <= 0 -%}
  {%- if include.onexpopage == false -%}
  {%- else -%}
    Deze expo is voorbij.
  {%- endif -%}

{%- else -%}
  Fout: Er is iets mis met de data van de expositie.

{%- endif -%}

</div>
