<div class="subtitle">

{%- for checked-expositie in site.exposities -%}
  {%- if checked-expositie.title == include.expositie -%}
    {% assign expositie = checked-expositie %}
  {%- endif -%}
{%- endfor -%}

{% assign nowTimestamp = 'now' | date: '%s' %}

{% assign beginsec = expositie.begin | date: '%s' %}
{% assign secondentotbegin = beginsec | minus: nowTimestamp %}
{% assign dagentotbegin = secondentotbegin | divided_by: 3600 | divided_by: 24 %}

{% assign eindsec = expositie.einde | date: '%s' %}
{% assign secondentoteinde = eindsec | minus: nowTimestamp %}
{% assign dagentoteinde = secondentoteinde | divided_by: 3600 | divided_by: 24 %}

{%- if include.lang == "en" -%}

  {%- if dagentotbegin > 10 -%}
    {%- if include.onexpopage == false -%}
      Part of our <a href="{{ expositie.url }}">upcoming exhibition</a>! The exhibition is due to start on {{ expositie.begin | date_to_long_string }}.
    {%- else -%}
      From {{ expositie.begin | date_to_long_string }} to {{ expositie.einde | date_to_long_string }}.
    {%- endif -%}

  {%- elsif dagentotbegin <= 10 and dagentotbegin > 1 -%}
    {%- if include.onexpopage == false -%}
      Part of <a href="{{ expositie.url }}">our exhibition</a> due in {{ dagentotbegin }} days.
    {%- else -%}
      Exhibition due in {{ dagentotbegin }} days. It runs from {{ expositie.begin | date_to_long_string }} to {{ expositie.einde | date_to_long_string }}.
    {%- endif -%}

  {%- elsif dagentotbegin <= 1 and secondentotbegin > 0 -%}
    {%- if include.onexpopage == false -%}
      <a href="{{ expositie.url }}">Exhibited starting tomorrow!</a>.
    {%- else -%}
      Exhibition starts tomorrow. It runs from {{ expositie.begin | date_to_long_string }} to {{ expositie.einde | date_to_long_string }}.
    {%- endif -%}

  {%- elsif secondentotbegin <= 0 and dagentoteinde > 1 -%}
    {%- if include.onexpopage == false -%}
      <a href="{{ expositie.url }}">Exhibition</a> running {{dagentoteinde}} more days.
    {%- else -%}
      Running {{ dagentoteinde }} more days until {{ expositie.einde | date_to_long_string }}.
    {%- endif -%}

  {%- elsif dagentoteinde <= 1 and secondentoteinde > 0 -%}
    {%- if include.onexpopage == false -%}
      Part of <a href="{{ expositie.url }}">our exhibition</a>... closing day already!
    {%- else -%}
      Today is the closing day of our exhibition.
    {%- endif -%}

  {%- elsif secondentoteinde <= 0 -%}
    {%- if include.onexpopage == false -%}
    {%- else -%}
      This exhibition is over.
    {%- endif -%}

  {%- else -%}
    Error: something went wrong with the dates of this exhibition.

  {%- endif -%}
  
{%- else -%}
  
  {%- if dagentotbegin > 10 -%}
    {%- if include.onexpopage == false -%}
      Binnenkort <a href="{{ expositie.url }}"> in expo</a>! De expositie begint op {{ expositie.begin | date: "%d/%m/%Y" }}.
    {%- else -%}
      Van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
    {%- endif -%}

  {%- elsif dagentotbegin <= 10 and dagentotbegin > 1 -%}
    {%- if include.onexpopage == false -%}
      <a href="{{ expositie.url }}"> In expo</a> over {{ dagentotbegin }} dagen.</a>
    {%- else -%}
      De expositie begint over {{ dagentotbegin }} dagen. Ze loopt van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
    {%- endif -%}

  {%- elsif dagentotbegin <= 1 and secondentotbegin > 0 -%}
    {%- if include.onexpopage == false -%}
      <a href="{{ expositie.url }}"> Vanaf morgen in expo</a>.
    {%- else -%}
      Deze expositie begint morgen. Ze loopt van {{ expositie.begin | date: "%d/%m/%Y" }} tot {{ expositie.einde | date: "%d/%m/%Y" }}.
    {%- endif -%}

  {%- elsif secondentotbegin <= 0 and dagentoteinde > 1 -%}
    {%- if include.onexpopage == false -%}
      Nog {{dagentoteinde}} <a href="{{ expositie.url }}"> in expo</a>.
    {%- else -%}
      Loopt nog {{ dagentoteinde }} dagen tot {{ expositie.einde | date: "%d/%m/%Y" }}.
    {%- endif -%}

  {%- elsif dagentoteinde <= 1 and secondentoteinde > 0 -%}
    {%- if include.onexpopage == false -%}
      Tot vandaag <a href="{{ expositie.url }}"> in expo</a>.
    {%- else -%}
      Vandaag is de laatste dag van de expositie.
    {%- endif -%}

  {%- elsif secondentoteinde <= 0 -%}
    {%- if include.onexpopage == false -%}
    {%- else -%}
      Deze expo is voorbij.
    {%- endif -%}

  {%- else -%}
    Fout: Er is iets mis met de data van de expositie.

  {%- endif -%}

{%- endif -%}
</div>
