{% assign locale = site.data.localization[page.lang] %}

<div class="gallery">
  {%- comment %}
  <div class="textblock">
  	 <p>Galerij pi kwadraat heeft de deuren geopend op het eind van de vorige eeuw, september 1999 om precies te zijn. In een eigentijds gebouw worden een aantal <a href="/exposities">tentoonstellingen</a> per jaar georganiseerd. Daarnaast is de galerij open na afspraak.
     De klemtoon ligt op hedendaagse keramiek en glas, maar regelmatig komen ook andere disciplines aan bod. Vaak gaat het om werk van jonge, beloftevolle <a href="/kunstenaars">kunstenaars</a> in combinatie met kunstenaars die al enige bekendheid verworven hebben.</p>
  </div>
  {% endcomment -%}
  <div class="textblock">
    {% assign sorted-exposities = site.exposities | sort:'begin' | where:'lang',page.lang %}
    {%- for expo in sorted-exposities -%}
      {% assign nowTimestamp = 'now' | date: '%s' %}
      {% assign beginsec = expo.begin | date: '%s' %}
      {% assign threeweeksbeforebeginsec = beginsec | minus:1814400 | date: '%s' %}
      {% assign eindsec = expo.einde | date: '%s' %}
      {%- if threeweeksbeforebeginsec < nowTimestamp and eindsec > nowTimestamp -%}
      {%- comment %}
      	Checks if Expo starts in < 21 days (1 814 400 seconds) and is not over
      {% endcomment -%}
        <h3><a href={{expo.url}}>{{expo.title}}</a></h3>
        {{expo.content}}
      {%- endif -%}
          {% assign werk-samples = site.werken | where:"expositie", expo.title | where:'lang',page.lang | sort:'title' | sample:page.gallerylimit %}
    {%- endfor -%}
    <p>{{ locale.introtext }}</p>
  </div>

{% assign index-gallery = site.emptyArray %}

{%- assign werken-sample = site.werken | where:'lang',page.lang | sample:page.gallerylimit -%}
{%- for werk in werken-sample -%}
  {%- assign index-gallery = index-gallery | push: werk -%}
{%- endfor -%}

<div class="gallery-pics">
  {%- assign media_files = site.static_files | where: "media", true -%}
  {%- for mymedia in media_files -%}
    <div>
    {%- if mymedia.path contains "galerij-pics" -%}
      <img src="{{mymedia.path}}" alt="{{ locale.index-pics-alt-text }}" class="cover">
    {%- endif -%}
    </div>
  {%- endfor -%}
  {% for index-gallery-pic in index-gallery %}
    <div class="gallery-thumbnail">
      {% include showmedia.html referent=index-gallery-pic %}
    </div>
  {% endfor %}

</div>

</div>
