{%- assign media_files = site.static_files | where: "media", true -%}
{%- assign aslink = include.aslink | default: 'yes' -%}
{%- for mymedia in media_files -%}
  {%- if mymedia.path contains include.referent.title and aslink=='yes' -%}
    <a href="{{include.referent.url}}"><img src="{{mymedia.path}}" alt="{{include.referent.title}}"></a>
  {%- elsif mymedia.path contains include.referent.title and aslink=='no' -%}
    <img src="{{mymedia.path}}" alt="{{include.referent.title}}">
  {%- endif -%}
{%- endfor -%}
