<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display|Playfair+Display+SC:normal,black|Oswald">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
		</head>
		<body>
		<div class="container">
			<div class="logo">
				<a href="/"><img src="/assets/site/logo.svg" alt="Home Icon"></a>
			</div>
	    <ul class="navbar">
				{% for expo in site.exposities %}
					{%- if expo.begin < site.time and expo.einde > site.time -%}
						<li><a href={{expo.url}}>bezoek nu {{expo.title}}</a></li>
					{%- endif -%}
				{% endfor %}
				<li><a href="/exposities">exposities</a></li>
				<li><a href="/kunstenaars">kunstenaars</a></li>
				<li><a href="/contact">contact</a></li>
	    </ul>
			<div class="header">
			  <h1><a href="/">galerij pi kwadraat</a></h1>
			</div>
				{{content}}
		</div>
		</body>
	</html>
