---
layout: kunstenaar
---

{{content}}

<h3>Alle documentatiepagina's</h3>
<ul>
  <li><a href="/documentatie/nieuwe-kunstenaar.html">Een nieuwe kunstenaar toevoegen</a></li>
  <li><a href="/documentatie/nieuw-werk.html">Een nieuw werk toevoegen</a></li>
  <li><a href="/documentatie/nieuwe-foto.html">Een nieuwe foto toevoegen</a></li>
  <li><a href="/documentatie/nieuwe-expositie.html">Een nieuwe expositie toevoegen</a></li>
  <li><a href="/documentatie/uploaden.html">Uploaden</a></li>
  <li><a href="/documentatie/troubleshooting.html">Troubleshooting</a></li>
</ul>