---
layout: kunstenaar
---

{{content}}

<div class="textblock">
    <a href="/documentatie/index.html"><img src="/assets/site/bookworm.svg" alt="Cartoon documentatie" class="cover" style="width:200px;height:200px;"></a>
</div>

<a href="/documentatie/index.html"><h3>Documentatie</h3></a>
<ul>
  <li><a href="/documentatie/lokale-kopie-downloaden.html">Een lokale kopie van de site downloaden</a></li>
  <li>Aanpassingen maken:<ul>
    <li><a href="/documentatie/nieuwe-kunstenaar.html">Kunstenaar toevoegen</a></li>
    <li><a href="/documentatie/nieuw-werk.html">Werk toevoegen</a></li>
    <li><a href="/documentatie/nieuwe-foto.html">Foto toevoegen</a></li>
    <li><a href="/documentatie/nieuwe-expositie.html">Expositie toevoegen</a></li>
  </ul>
  <li><a href="/documentatie/uploaden.html">Uploaden</a></li>
  <li><a href="/documentatie/troubleshooting.html">Troubleshooting</a></li>
</ul>