---
layout: kunstenaar
---

{{content}}

<div class="textblock">
    <img src="/assets/site/bookworm.svg" alt="Cartoon documentatie" class="cover" style="width:200px;height:200px;">
</div>

<h3>Alle documentatiepagina's</h3>
<ul>
  <li><a href="/documentatie/index.html">Voorpagina documentatie</a></li>
  <li><a href="/documentatie/nieuwe-kunstenaar.html">Kunstenaar toevoegen</a></li>
  <li><a href="/documentatie/nieuw-werk.html">Werk toevoegen</a></li>
  <li><a href="/documentatie/nieuwe-foto.html">Foto toevoegen</a></li>
  <li><a href="/documentatie/nieuwe-expositie.html">Expositie toevoegen</a></li>
  <li><a href="/documentatie/uploaden.html">Uploaden</a></li>
  <li><a href="/documentatie/troubleshooting.html">Troubleshooting</a></li>
</ul>