---
layout: default
---

<div class="superparagraph">
<h2>{{ page.title }}</h2>
{{content}}
</div>

{%- include expoactive.html expositie=page.title onexpopage=true -%}

{% assign sorted-kunstenaars = site.kunstenaars | sort:'title' %}
{%- for gallery-kunstenaar in sorted-kunstenaars -%}
  {%- include kunstenaarinexpo.html expositie=page.title kunstenaar=gallery-kunstenaar.title%}
  {%- if inexpo == true -%}

    <div class=gallery>
        <a href={{gallery-kunstenaar.url}} class="gallery-title"><h3>{{gallery-kunstenaar.title}}</h3></a>


    {% assign sorted-werken = site.werken | where:'expositie', page.title | sort:'title' %}
    {%- for gallery-werk in sorted-werken -%}
      {%- if gallery-werk.kunstenaar == gallery-kunstenaar.title -%}
        <div class=gallery-item>
        <div class="media">
          {%- include showmedia.html referent=gallery-werk -%}
        </div>
        <div class="info">
          <a href={{gallery-werk.url}}>{{gallery-werk.title}}</a>
          {%- if gallery-werk.content != blank -%}
            {{gallery-werk.content}}
          {%- endif -%}
          {%- if gallery-werk.tekoop == "ja" and gallery-werk.prijs > 0 -%}
            {{gallery-werk.prijs}} EUR <a href="mailto:{{ site.email }}?Subject=Het werk &quot;{{gallery-werk.title}}&quot; kopen" target="_top">Koop dit werk</a>
          {%- endif -%}
        </div>

      </div>
      {%- endif -%}
    {%- endfor -%}
  </div>
  {%- endif -%}
{%- endfor -%}
