---
layout: default
---

<div class="superparagraph">
<h2>{{ page.title }}</h2>
{%- include expoactive.html expositie=page.title onexpopage=true -%}
{{content}}
</div>

{% assign sorted-kunstenaars = site.kunstenaars | sort:'title' %}
{%- for gallery-kunstenaar in sorted-kunstenaars -%}
  {%- include kunstenaarinexpo.html expositie=page.title kunstenaar=gallery-kunstenaar.title%}
  {%- if inexpo == true -%}

    <div class=gallery>
      <div class="superparagraph">
        <h3><a href={{gallery-kunstenaar.url}} class="gallery-title">{{gallery-kunstenaar.title}}</a></h3>
      </div>

    {% assign sorted-werken = site.werken | where:'expositie', page.title | sort:'title' %}
    <div class="gallery-pics">
      {%- for gallery-werk in sorted-werken -%}
        {%- if gallery-werk.kunstenaar == gallery-kunstenaar.title -%}
          <div class="gallery-thumbnail">
            {%- include showmedia.html referent=gallery-werk -%}
          </div>
        {%- endif -%}
      {%- endfor -%}
    </div>

  </div>
  {%- endif -%}
{%- endfor -%}
