---
layout: post
---

{{content}}

<ul class="gallery">
{% assign sorted-werken = site.werken | sort:'title' %}
{% for werk in site.werken %}
  {% if werk.kunstenaar == page.title %}
  <li>
      <ul class="gallery-item">

        <a href="{{ werk.url }}">{{ werk.title }}</a>

        <li>
        {% include showmedia.html referent=werk %}
        </li>

        <li>
        {{ werk.content }}
        </li>

        <li>
        {% include expoactive.html expositie=werk.expositie onexpopage=false %}
        </li>

        <li>
        {% if werk.tekoop == "ja" and werk.prijs > 0 %}
        {{werk.prijs}} EUR <a href="mailto:{{ site.email }}?Subject=Het werk &quot;{{werk.title}}&quot; kopen" target="_top">Koop dit werk</a>
        {% endif %}
        </li>

      </ul>
  </li>
  {% endif %}
{% endfor %}

</ul>
