<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Taviraj|Playfair+Display+SC:normal,black|Lora">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
			<link rel="icon" href="/favicon.ico" type="image/x-icon">
		</head>
		<body>
			<div class="header">
			  <h1>galerij pi kwadraat</h1>
			</div>
				{{content}}
		</body>
	</html>
