---
layout: default
---
<div class="superparagraph">
  {% for kunstenaar in site.kunstenaars %}
   {% if kunstenaar.title == page.kunstenaar %}
    <h2>
      <a href="{{ kunstenaar.url }}">{{kunstenaar.title}}</a>
    </h2>
    {% include expoactive.html expositie=page.expositie onexpopage=false %}
   {% endif %}
  {% endfor %}
</div>
<div class="gallery">
  <div class="superparagraph">
    <h3>{{ page.title }}</h3>
    {{content}}  
    {%- if page.tekoop == "ja" -%}
    <p>
    {%- if page.prijs > 0 -%}
      {{page.prijs}} EUR
    {%- endif -%}
    Neem contact met ons op om dit werk te kopen.
    {%- include contactform.html referent=page.title-%}
    </p>
    {% endif %}
  </div>
    <div class="gallery-full">
      {% include showmedia.html referent=page aslink='no' %}
    </div>
</div>